// CSS custom properties for Priority Nav
.is-style-priority-plus-navigation {
	--priority-plus-navigation--background: transparent;
	--priority-plus-navigation--background-hover: transparent;
	--priority-plus-navigation--color: inherit;
	--priority-plus-navigation--color-hover: inherit;
	--priority-plus-navigation--border-color: transparent;
	--priority-plus-navigation--border-style: solid;
	--priority-plus-navigation--border-width: 0;
	--priority-plus-navigation--border-radius: 0;
	--priority-plus-navigation--font-family: inherit;
	--priority-plus-navigation--font-size: inherit;
	--priority-plus-navigation--font-weight: inherit;
	--priority-plus-navigation--padding: 0;
}

// These can be easily overridden in theme stylesheets by targeting .is-style-priority-plus-navigation, for example:
// .is-style-priority-plus-navigation {
//   --priority-plus-navigation--background: #ff0000;
//   --priority-plus-navigation--color: #ffffff;
// }
