@use "variables";

.editor-styles-wrapper .priority-nav-editor-wrapper nav {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    border: 2px solid green !important;
}

// Editor-only styles for Priority Nav
// .editor-styles-wrapper {
// 	.priority-nav-editor-wrapper {
// 		display: flex;
// 		flex-wrap: nowrap;
// 		align-items: center;
// 		width: 100%;
// 		border: 2px solid green !important;

// 		.wp-block-navigation {
// 			flex: 1;
// 			overflow: hidden;
// 			min-width: 0;
// 		}

// 		.wp-block-navigation__responsive-container {
// 			overflow: hidden;
// 		    justify-content: flex-start;
// 		}

// 		.wp-block-navigation__container {
// 			display: flex;
// 			flex-wrap: nowrap;
// 			overflow: hidden;
// 			white-space: nowrap;
// 		}

// 		.wp-block-navigation-item {
// 			flex-shrink: 0;
// 			white-space: nowrap;
// 		}
// 	}
// }
