@use "variables";

.editor-styles-wrapper .priority-plus-navigation-editor-wrapper nav {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    border: 2px solid green !important;
}

// Disable the "Always" option in overlay menu settings for Priority+ nav
// Applied when Priority+ variation is selected
.priority-plus-navigation-disable-always-option {
	.components-toggle-group-control-option-base:last-child {
		opacity: 0.4;
		pointer-events: none;
		text-decoration: line-through;
		cursor: not-allowed;
	}
}

// Editor-only styles for Priority Nav
// .editor-styles-wrapper {
// 	.priority-plus-navigation-editor-wrapper {
// 		display: flex;
// 		flex-wrap: nowrap;
// 		align-items: center;
// 		width: 100%;
// 		border: 2px solid green !important;

// 		.wp-block-navigation {
// 			flex: 1;
// 			overflow: hidden;
// 			min-width: 0;
// 		}

// 		.wp-block-navigation__responsive-container {
// 			overflow: hidden;
// 		    justify-content: flex-start;
// 		}

// 		.wp-block-navigation__container {
// 			display: flex;
// 			flex-wrap: nowrap;
// 			overflow: hidden;
// 			white-space: nowrap;
// 		}

// 		.wp-block-navigation-item {
// 			flex-shrink: 0;
// 			white-space: nowrap;
// 		}
// 	}
// }
